*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: orange;
    position: sticky;
    top:0;
    z-index: 999;
}



.flex-item{
    width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    flex-wrap: wrap;
}

a{
    text-decoration: none;
    color: white;
    padding: 15px;
}

i{
    padding: 15px;
}

#logo{
    height: 45px;
}



.type-column{
    padding: 15px;
}

.chart-column{
    color: white;
    padding: 15px;
}

img{
   width: 100%;
   padding: 5px;
}
.card {
    position: relative; 
   width: 33%;
   display:inline-block;
}

.card img.img-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .2s;
  
  
}
.card:hover .heart{
    color: red;
}
.card:hover img.img-hover {
  opacity: 1;
  display: block;
}
.card .percentage{
    position: absolute;
    left: 5px;
    bottom: 100px;
    background-color: rgb(255,0,0);
    color: rgb(255, 255, 255);
    padding: 3px;
    font-weight: 600;
    font-size: 10px;
}

.card .heart{
    position: absolute;
    top: 50px;
    right: 0%;
    font-size: 25px;
}

.card .sustainable{
    position: absolute;
    left: 40px;
    bottom: 0;
    background-color: #028759;
    color: rgb(255, 255, 255);
    padding: 3px;
    font-weight: 600;
    font-size: 10px;
}

.description{
    text-align: left;
}

.discount{
    color: red;
}

.full{
    text-decoration: line-through;
}

footer{
    background-color: black;
}

.privacy-column{
    text-align: left;
}

.site-column{
    color: white;
}